<bwm-header></bwm-header>

<section>
  <button (click)="clickHandler()">Click Me</button>

  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>

</section>
