<bwm-header></bwm-header>

<main id='main'>
  <button (click)="clickHandler()">Click Me</button>

  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>
  <p>test test test</p>

</main>
