<div class="header-container" [class.header-mobile]="mobileQuery.matches">
  <mat-toolbar class="header-toolbar">
    <div class="toolbar-section">
      <h1 class="header-brand" (click)="refresh()">{{title}}</h1>
    </div>
    <form class="toolbar-section search" *ngIf="!mobileQuery.matches" action="">
      <mat-form-field appearance='standard'>
        <input type='text' matInput placeholder="search...">
      </mat-form-field>
      <button mat-raised-button color='warn'>search</button>
    </form>
    <mat-nav-list class="toolbar-section" *ngIf="!mobileQuery.matches">
      <a class="nav-item nav-link active" routerLink="">Login <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="">Register</a>
      <a class="nav-item nav-link disabled" routerLink="" aria-disabled="true">Disabled</a>
    </mat-nav-list>
    <a class="toolbar-section" style="cursor:pointer" [hidden]="!mobileQuery.matches" (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </a>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <form class="search snav-search" action="">
       <mat-form-field appearance='standard'>
         <input type='text' matInput placeholder="search...">
       </mat-form-field>
       <button mat-raised-button color='warn'>search</button>
      </form>
      <mat-nav-list>
        <a class="nav-item nav-link active" routerLink="">Login <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="">Register</a>
        <a class="nav-item nav-link disabled" routerLink="" tabindex="-1" aria-disabled="true">Disabled</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content id='main-app'>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
