@import 'variables';

@mixin button-actions{
  background-color: grey;
  border-color: grey;
  color: white;
  text-decoration: none;
}

.navbar {
  padding: 15px;
  margin-bottom: 40px;
  width:100%;

  .navbar-brand {
    font-size: 30px;
    color: $main-color;
    font-weight: bold;
  }

  .navbar-toggler{
    @media only screen and (max-width: 767px){
      display: inline;
      position: absolute;
      max-width: 3rem;
      top:20px;
      right:20px;
      &:hover, &:focus, &:active{
        @include button-actions;
      }
      navbar-toggler-icon{
        align-self: center;
      }
    }
    @media only screen and (min-width: 768px){
      display: none;
    }
  }

  .btn-link {
    font-size: 18px;
    color: $main-text-color;

    @media only screen and (max-width: 767px){
      display: none
    }
    &:hover, &:focus, &:active{
      @include button-actions;
    }
  }

  #navbarOptions{
    position:relative;
    top:-250px;
    width: 90%;
    margin:auto;
    display: none;
    transition: top 1s;
    .nav-item{
      width:100%;
      text-align: center;
      color: $main-text-color;
      &:hover, &:focus, &:active{
        @include button-actions;
      }
    }
  }

  .bwm-search {
    height: 50px;
  }

  .btn-bwm-search {
    border-color: $main-color;
    color: $main-color;


    &:hover, &:focus, &:active {
      background-color: $main-color;
      border-color: $main-color !important;
      color: $main-text-color !important;
      box-shadow: none;
    }
  }
}
